html {
   background-color: white;
   /* https: //www.pexels.com/photo/desk-globe-inside-library-2808559/ */
}

body {
   height: 100%;
   width: 100%;
   margin: 0;
}

.container {
   background-color: white;
   display: grid;
   grid-template-columns: 0.5fr 5fr 0.5fr;
   grid-template-rows: auto 1fr fit;
   height: 100%;
   gap: 0rem;
}

header {
   display: grid;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
   background-color: white;
}

.top-bar {
   display: flex;
   justify-content: space-between;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-left: 11rem;
   padding-right: 11rem;
}


.logo1 {
   width: 25rem;
   height: auto;
}

.search {
   display: flex;
   width: auto;
   height: auto;
   margin-left: 0;
   margin-top: 0;
}

.search-input {
   float: left;
   width: 14rem;
   height: 20px;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-right: 5px;
   border: none;
   font-size: 17px;
   background-color: rgb(235, 235, 235);
}

.search-button {
   float: right;
   width: 8rem;
   height: 2.5rem;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-right: 5px;
   border: none;
   font-size: 17px;
   font-weight: 500;
   color: white;
   background-color: #143C75;
   cursor: pointer;
}

button.login {
   margin-top: 25px;
   border: none;
   /* color: #555; */
   width: 7rem;
   height: 2.5rem;
   /* text-align: center; */
   margin-left: 0%;
   padding-top: 0;
   cursor: pointer;
   /* text-decoration: none; */
   display: inline-block;
   font-size: 17px;
   /* overflow: hidden; */
   background-color: transparent;
}

.login-icon {
   width: 3.5rem;
   height: auto;
   margin-right: 0.5rem;
}



nav {
   width: auto;
   height: fit-content;
   background-color: #143C75;
   /* display: flex;
   justify-content: space-evenly; */
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

nav ul li {
   position: relative;
}

.dropbtn {
   background-color: #143C75;
   color: white;
   padding: 10px;
   border: none;
   width: 17rem;
   height: 3.25rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   text-decoration: none;
   font-size: 1rem;
   align-items: center;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}

.about {
   background-color: #143C75;
   color: white;
   padding: 10px;
   border: none;
   cursor: pointer;
   text-decoration: none;
   width: 17rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   font-size: 1rem;
   align-items: center;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   width: 17rem;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   font-family: "Open Sans", sans-serif;
   font-weight: 500;
   margin-left: 3.5rem;
}

.dropdown-content a {
   color: #242424;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

nav ul li:hover .dropdown-content {
   display: block;
}

/* ------------- main ------------- */

main {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: white;
   overflow: hidden;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto auto auto;
   display: grid;

}

.mission {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   display: block;
   font-size: 1.1rem;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   margin-left: 6rem;
   margin-top: 12rem;
}

.kid-reading {
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
   display: block;
   /* justify-content: center; */
   /* align-items: center; */
   margin-right: 6rem;
   overflow: hidden;
   width: 60rem;
   height: 40rem;
   margin-top: 6rem;
}

.kid-reading img {
   width: 100%;
   height: auto;
}

.history {
   grid-column-start: 2;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
   display: block;
   font-size: 1.1rem;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   margin-right: 6rem;
   margin-top: 12rem;
}

.vallejo-scenery {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
   display: block;
   /* justify-content: center; */
   /* align-items: center; */
   margin-left: 6rem;
   overflow: hidden;
   width: 25rem;
   height: 40rem;
   margin-top: 6rem;
}

.vallejo-scenery-img {
   width: auto;
   height: 100%;
   margin-left: -65%;
}

.director-message {
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
   display: block;
   font-size: 1.1rem;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   margin-left: 6rem;
   margin-top: 12rem;
   margin-bottom: 6rem;
}

.director {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   display: block;
   /* justify-content: center; */
   /* align-items: center; */
   margin-right: 6rem;
   overflow: hidden;
   width: 25rem;
   height: 40rem;
   margin-top: 6rem;
   margin-bottom: 6rem;
}

.director-img {
   width: auto;
   height: 100%;
   margin-left: -75%;
}

figcaption {
   font-size: 1rem;
   font-weight: 300;
   margin-top: -1.9rem;
   margin-left: 0.3rem;
   margin-bottom: 0;
   font-family: "Open Sans", sans-serif;
   z-index: 1;
   /* position: absolute; */
}

figcaption a {
   text-decoration: none;
   color: white;
}

/* ------------- main buttons ------------- */

.link-button {
   font-family: "Open Sans", sans-serif;
   font-size: 2rem;
   display: inline-block;
   padding: 10px 15px;
   text-align: center;
   text-decoration: none;
   color: #1B50B2;
   background-color: #DBEBFC;
   border: none;
   cursor: pointer;
   font-size: 17px;
   margin: 10px;
   text-transform: uppercase;
   font-weight: 700;
}

/* ------------- footer ------------- */

footer {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   background-color: #143C75;
   display: grid;
   grid-template-columns: 1fr 1fr 0.7fr;
   grid-template-rows: 1fr;
   font-family: "Open Sans", sans-serif;
   padding-bottom: 8rem;
   padding-top: 3rem;
   padding-left: 11rem;
   padding-right: 11rem;
   color: white;
}

.quick-info {
   display: block;
   justify-content: space-evenly;
   align-items: center;
   font-weight: 400;
   /* margin-left: 11rem; */
}

.quick-info h4 {
   font-size: 1rem;
   font-weight: 600;
}

.quick-info p {
   /* margin-bottom: 3.5rem; */
   font-size: 1rem;
   margin-top: 0;
   margin-bottom: 0.5rem;
}

.quick-info h5 {
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 2rem;
   margin-top: 4rem;
}

.opening-hours {
   display: flex;
}

.opening-hours ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.opening-hours ul li {
   margin-bottom: 0.7rem;
}

ul.hours {
   margin-left: 20px;
}

.quick-links {
   display: block;
   justify-content: space-evenly;
   align-items: center;
   font-weight: 400;
   /* margin-right: 11rem;
   margin-left: 9rem; */
}

.quick-links h4 {
   font-size: 1rem;
   font-weight: 600;
}

.quick-links ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.quick-links ul li {
   margin-bottom: 1rem;
}

.quick-links ul li a {
   text-decoration: none;
   color: white;
}

.contact {
   display: block;
   justify-content: space-evenly;
   align-items: center;
   font-weight: 400;
   /* margin-right: 11rem; */
}

.contact h4 {
   font-size: 1rem;
   font-weight: 700;
}

.contact p {
   font-size: 1rem;
   margin-top: 0;
   margin-bottom: 1rem;
}

.contact p a {
   text-decoration: none;
   color: white;
}

.social-media h4 {
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 2rem;
   margin-top: 5rem;
}

/* ------------- sidebar ------------- */

.sidebar-left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: white;
}

.sidebar-right {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: white;
}

/* ------------- media queries ------------- */
@media only screen and (max-width: 1440px) {
   .director {
      grid-column-start: 2;
      grid-column-end: 4;
   }

   .director-message {
      grid-column-start: 1;
      grid-column-end: 2;

   }
}


@media only screen and (max-width: 1024px) {
   .container {
      width: 1245px;
      overflow: hidden;
   }

   .top-bar {
      padding-left: 5rem;
      padding-right: 5rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
   }

   .mission {
      margin-top: 4rem;
   }

   .kid-reading {
      margin-top: 2rem;
      width: 25rem;
      height: auto;
      overflow: hidden;
   }

   .history {
      margin-top: 2rem;
      margin-left: 2.3rem;
   }

   .vallejo-scenery {
      margin-top: 2rem;
      width: 25rem;
      height: auto;
   }

   .vallejo-scenery-img {
      width: 100%;
      height: auto;
      margin-left: 0;
   }

   .director {
      grid-column-start: 2;
      grid-column-end: 4;
      margin-top: 4rem;
      margin-right: -40rem;
   }

   .director-message {
      grid-column-start: 1;
      grid-column-end: 2;
   }

   footer {
      padding-left: 5rem;
      padding-right: 5rem;
   }

   .sidebar-left,
   .sidebar-right {
      display: none;
   }
}

@media only screen and (max-width: 768px) {

   .newsevents .latest-news h3,
   .newsevents .latest-events h3 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0rem;
      margin-top: 0rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      color: #143C75;
      border: 2px solid #DBEBFC;
   }

   div.news,
   div.events {
      height: 21vw;
      width: 30vw;
      /* max-width: 20rem; */
   }
}

/* -------------- mobile ------------- */

@media only screen and (max-width: 425px) {
   .top-bar {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
   }

   figure {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
      justify-content: center;
      margin: 0rem;
   }

   .logo1 {
      width: 50rem;
      height: auto;
   }

   button.login {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 3;
      grid-column-end: 4;
      align-items: center;
      justify-content: center;
   }

   .login-icon {
      width: 5rem;
      height: auto;
      margin-left: 12rem;
      margin-top: 1.5rem;
   }

   .search {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 4;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
   }

   .search-input {
      width: 40rem;
      height: 4rem;
      font-size: 2rem;
      margin: 0pt;
   }

   .search-button {
      width: 10rem;
      height: 5rem;
      font-size: 2rem;
      margin: 0pt;
   }

   nav ul {
      display: grid;
      /* justify-content: center;
      align-content: center;
      align-items: center; */
   }

   nav ul li {
      display: grid;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 1rem;
   }

   .about,
   .dropbtn {
      width: 100%;
      height: 4rem;
      font-size: 3rem;
      margin: 0pt;
      padding: 1rem;
   }

   main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto;
   }

   .mission {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 0rem;
      margin-top: 0rem;
      margin-top: 3rem;
      font-size: 3rem;
   }

   .kid-reading {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-right: 0rem;
      margin-top: 0rem;
      width: 100%;
      height: auto;
      margin-top: 3rem;
   }

   .history {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-right: 0rem;
      margin-top: 3rem;
      font-size: 3rem;
   }

   .vallejo-scenery {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 0rem;
      margin-top: 0rem;
      width: 100%;
      height: auto;
      margin-top: 3rem;
   }

   .vallejo-scenery-img {
      width: 100%;
      height: auto;
      margin-left: 0;
   }

   .director-message {
      grid-row-start: 6;
      grid-row-end: 7;
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 0rem;
      margin-top: 0rem;
      margin-top: 3rem;
      font-size: 3rem;
   }

   .director {
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 1;
      grid-column-end: 2;
      align-content: center;
      justify-content: center;
      margin: 0rem;
      margin-left: 20rem;
      margin-top: 3rem;
   }

   .director-img {
      align-content: center;
      align-items: center;
      justify-content: center;
   }


   footer {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
   }

   .quick-info {
      grid-row-start: 1;
      grid-row-end: 2;
   }

   .quick-info h4 {
      font-size: 3.5rem;
   }

   .quick-info p {
      font-size: 3rem;
   }

   .quick-info h5 {
      font-size: 3rem;
   }

   .quick-info .opening-hours {
      font-size: 2rem;
   }

   .quick-links {
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 2rem;
   }

   .quick-links h4 {
      font-size: 3rem;
   }

   .contact {
      grid-row-start: 3;
      grid-row-end: 4;
      font-size: 2rem;
   }

   .contact p {
      font-size: 2rem;
   }

   .contact h4 {
      font-size: 3rem;
   }

}