html {
   background-color: white;
   /* https: //www.pexels.com/photo/desk-globe-inside-library-2808559/ */
}

body {
   height: 100%;
   width: 100%;
   margin: 0;
}

.container {
   background-color: white;
   display: grid;
   grid-template-columns: 0.5fr 5fr 0.5fr;
   grid-template-rows: auto 1fr fit;
   height: 100%;
   gap: 0rem;
}

header {
   display: grid;
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
   background-color: white;
}

.top-bar {
   display: flex;
   justify-content: space-between;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 11rem;
   padding-right: 11rem;
}


.logo1 {
   width: 25rem;
   height: auto;
}

.search {
   display: flex;
   width: auto;
   height: auto;
   margin-left: 0;
   margin-top: 0;
}

.search-input {
   float: left;
   width: 14rem;
   height: 20px;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-right: 5px;
   border: none;
   font-size: 17px;
   background-color: lightgrey;
}

.search-button {
   float: right;
   width: 8rem;
   height: 2.5rem;
   padding: 10px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-right: 5px;
   border: none;
   font-size: 17px;
   background-color: lightgrey;
   cursor: pointer;
}

button.login {
   margin-top: 30px;
   border: none;
   color: #555;
   width: 7rem;
   height: 2.5rem;
   text-align: center;
   margin-left: 0%;
   padding-top: 0;
   cursor: pointer;
   text-decoration: none;
   display: inline-block;
   font-size: 17px;
}

nav {
   width: 100%;
   height: fit-content;
   background-color: #143C75;
   /* display: flex;
   justify-content: space-evenly; */
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

nav ul li {
   position: relative;
}

.dropbtn {
   background-color: #143C75;
   color: white;
   padding: 10px;
   border: none;
   width: 17rem;
   height: 3.25rem;
   cursor: pointer;
   display: flex;
   justify-content: center;
   text-decoration: none;
   font-size: 1rem;
   align-items: center;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}

.about {
   background-color: #143C75;
   color: white;
   padding: 10px;
   border: none;
   cursor: pointer;
   text-decoration: none;
   width: 17rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   font-size: 1rem;
   align-items: center;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   width: 17rem;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   font-family: "Open Sans", sans-serif;
   font-weight: 500;
   margin-left: 3.5rem;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

nav ul li:hover .dropdown-content {
   display: block;
}

/* ------------- main ------------- */

main {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: white;
   overflow: hidden;
   grid-template-columns: 4.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 0.6fr 0.6fr 1fr 0.2fr;
   display: grid;

}

figure {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 5;
   margin: 0;
}

figcaption {
   font-size: 1rem;
   font-weight: 300;
   margin-top: -1.9rem;
   margin-left: 0.3rem;
   margin-bottom: 0;
   font-family: "Open Sans", sans-serif;
   z-index: 1;
   /* position: absolute; */
}

figcaption a {
   text-decoration: none;
   color: white;
}

.main-library-img {
   max-width: 50rem;
   height: auto;
   width: 100%;
}

.welcome {
   grid-column-start: 2;
   grid-column-end: 8;
   grid-row-start: 2;
   grid-row-end: 3;
   display: block;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   font-family: "Open Sans", sans-serif;
   font-weight: 600;
   margin-left: 6rem;
}

.welcome h1 {
   font-size: 6.5rem;
   font-weight: 700;
   margin-bottom: 1rem;
   margin-top: 0rem;
}

.welcome h2 {
   font-size: 1.5rem;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 0rem;
}

/* ------------- main buttons ------------- */

.main-buttons {
   grid-column-start: 2;
   grid-column-end: 8;
   grid-row-start: 3;
   grid-row-end: 4;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 6rem;
}

.link-button {
   font-family: "Open Sans", sans-serif;
   font-size: 2rem;
   display: inline-block;
   padding: 10px 15px;
   text-align: center;
   text-decoration: none;
   color: #555;
   background-color: #f0f0f0;
   border: none;
   cursor: pointer;
   font-size: 17px;
   margin: 10px;
}

/* ------------- news and events ------------- */

.newsevents {
   grid-column-start: 2;
   grid-column-end: 8;
   grid-row-start: 4;
   grid-row-end: 5;
   display: flex;
   justify-content: space-between;
   align-items: end;
   margin-left: 6rem;
   font-family: "Open Sans", sans-serif;
}

.newsevents .latest-news h3,
.newsevents .latest-events h3 {
   font-size: 1.5rem;
   font-weight: 600;
   margin-bottom: 0.5rem;
}

.latest-news,
.latest-events {
   display: grid;
   align-items: end;
}

div.news,
div.events {
   justify-content: space-evenly;
   position: relative;
   font-weight: 600;
   height: 25rem;
   width: 25rem;
   max-width: 25rem;
   border: 1px solid #555;
   background-color: white;
}

/* ------------- footer ------------- */

footer {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 3;
   grid-row-end: 4;
   background-color: #143C75;
   display: grid;
   grid-template-columns: 1fr 1fr 0.7fr;
   grid-template-rows: 1fr;
   font-family: "Open Sans", sans-serif;
   padding-bottom: 8rem;
   padding-top: 2rem;
   padding-left: 11rem;
   padding-right: 11rem;
   color: white;
}

.quick-info {
   display: block;
   justify-content: space-evenly;
   align-items: center;
   font-weight: 400;
   /* margin-left: 11rem; */
}

.quick-info h4 {
   font-size: 1rem;
   font-weight: 600;
}

.quick-info p {
   /* margin-bottom: 3.5rem; */
   font-size: 1rem;
   margin-top: 0;
   margin-bottom: 0.5rem;
}

.quick-info h5 {
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 2rem;
   margin-top: 4rem;
}

.opening-hours {
   display: flex;
}

.opening-hours ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.opening-hours ul li {
   margin-bottom: 0.7rem;
}

ul.hours {
   margin-left: 20px;
}

.quick-links {
   display: block;
   justify-content: space-evenly;
   align-items: center;
   font-weight: 400;
   /* margin-right: 11rem;
   margin-left: 9rem; */
}

.quick-links h4 {
   font-size: 1rem;
   font-weight: 600;
}

.quick-links ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

.quick-links ul li {
   margin-bottom: 1rem;
}

.quick-links ul li a {
   text-decoration: none;
   color: white;
}

.contact {
   display: block;
   justify-content: space-evenly;
   align-items: center;
   font-weight: 400;
   /* margin-right: 11rem; */
}

.contact h4 {
   font-size: 1rem;
   font-weight: 700;
}

.contact p {
   font-size: 1rem;
   margin-top: 0;
   margin-bottom: 1rem;
}

.contact p a {
   text-decoration: none;
   color: white;
}

.social-media h4 {
   font-size: 1rem;
   font-weight: 600;
   margin-bottom: 2rem;
   margin-top: 5rem;
}

/* ------------- sidebar ------------- */

.sidebar-left {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: white;
}

.sidebar-right {
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: white;
}

/* ------------- media queries ------------- */
/* 
@media only screen and (max-width: 1760px) {
   main {
      background-color: red;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4;
   }

   /* .sidebar-left,
   .sidebar-right {
      display: none;
   } */